body {
    padding: 0;
    margin: 0;
    font-family: Haveltica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #148FC5;
}
a:link {}
a:visited {
    color: #1A6489;
}
a:hover {
    text-decoration: underline;
}
a:active {}

canvas {
    border: solid 1px #555;
    background: #ddd;
}
.container, canvas {
    position: relative;
    margin: 0 auto;
}
.container {
    width: 960px;
}
#head-wrapper {
    height: 100px;
    margin-bottom: 20px;
    background: linear-gradient(to top, #000, #555), #000;
    box-shadow: 0 0 4px 2px #555;
}
